*
{
    margin:0;
    padding:0;

}

/*--------navigation-----*/
#nav-bar
{
    position:sticky;
    top: 0;
    z-index:10;
}


.navbar-brand img{
    height:40px;
    padding-left:30px;

}
.navbar-nav li
{
    padding:0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color:#007bff!important;
}
.navbar{
    background: #fff;
}
.navbar-toggler
{
    border:none!important;
}
.nav-link
{
    color:#555!important;
    font-size: 16px;
    font-weight:600;
}
/*-------------slide----------*/
#slider 
{
    width:100%;
}
.owncaption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
     
}
.owncaption h5 {
 color:rgb(255, 29, 29);
 font-size:20px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}
.owncaption img
{
    height:440px;
    padding-left:300px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }